scripts/local.sh

# Build artifacts
engineering-dashboard
*.out

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
crash.log

k8s/app-secrets.yaml
k8s/pull-secret.yaml
k8s/service.yaml
k8s/configmap.yaml